<div class="grid_container">
    <% if (all_tasks) {
      all_tasks.tasks.forEach(n =>{%>
         <div class="task_container">
         <div class="task_name"><%=n.task_name%></div>
         <div class="task_description"><%=n.task_description%></div>
         <div class="task_end_time"><%=n.task_end_time%></div>
         <div class="line"></div>
         <div class="form_edit_buttons">
           <form action="/editor" method="post" class="edit_form">
             <input type="hidden" name = "edit_request" value = "<%= n.task_id%>">
             <button class="edit_button">EDIT</button>
             </form>
             <button class="completed_button">TASK COMPLETED</button>
             <form action="/delete_task" method="post" class="delete_form_class">
              <input type="hidden" name="task_id_del" value="<%= n.task_id %>">
              <input type="hidden" name="topic_id_current" value="<%=current_topic%>"/>
             <button class="delete_button" type="submit">DELETE TASK</button>
            </form>
           </div>
         </div>
         <%})
    } %>
    <div class="create_task_container">
    <form id="topic_tasks_form" action="/task_creator" method="post" style="width: 100%;height: 100%;">

        <input type="hidden" name="topic_id_current" value="<%=current_topic%>"/>

    <button type="submit" class="new_task_button">
      Add new task
    </button>
    </form>
  </div>
</div>